.body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.card {
  width: 360px;
  padding: 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}